<?php
return array(
    'elasticsearch' => array(
        'connection' => array(
            'params' => array(
                'host' => 'localhost',
                'port' => '9200'
            )
        )
    )
);
